<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Alunos</title>
</head>
<body>
    <h1>Listar Alunos</h1>
<tr>
    <th>Matrícula</th>
    <th>Nome</th>
    <th>Turma</th>
    <th>Email</th>
    <th>Gênero</th>
    <th colspan="2"> Ações

</th>

</tr>
<% if (alunos.length > 0) { %>
    < % alunos.forEach(function(aluno) { %>

<tr>
    <td><%=aluno.matricula %></td>
    <td><%= aluno.nome %></td>
    <td><%=aluno.turma %></td>
    <td><%=aluno.email %></td>
    <td><%=aluno.genero %></td>
    <td><a href="/editar/ aluno.matricula %>">Editar</a></td> 
    <td><a href="/remover/% aluno.matricula %>"> Remover </a></td>
</tr>

<% }); %>

<% }; %>

</body>
</html>